<h1 class="">Listing cities</h1>



<% @cities.each do |city| %>

<ul class="vcard small-12 small-centered medium-9 medium-centered large-9 large-centered columns" > 
    <li class="fn">
      <h1 class=""><%= city.name %></h1>
    </li> 
    <li class="street-address">
     <%= city.country.name %>
    </li> 
    
    <li class="email">
      <span><%= link_to 'Show', city, class: "" %></span> <span><%= link_to 'Edit', edit_city_path(city), class: "" %></span> <span><%= link_to 'Destroy', city, class: "",method: :delete, data: { confirm: 'Are you sure?' } %></span> 
    </li> 
  </ul>
  
<% end %>


<br />

<%= link_to 'New City', new_city_path,class: "button radius medium-5 small-12 medium-push-3 columns success" %>
