<h1 class="">Listing neighborhoods</h1>


<% @neighborhoods.each do |neighborhood| %>

  <ul class="vcard small-12 small-centered medium-9 medium-centered large-9 large-centered columns" > 
    <li class="fn">
      <h1 class=""><%= neighborhood.name %></h1>
    </li> 
    <li class="street-address">
      <%= neighborhood.city.name %>
    </li> 
    
    <li class="email">
      <span><%= link_to 'Show', neighborhood, class: "" %></span> <span><%= link_to 'Edit', edit_neighborhood_path(neighborhood), class: "" %></span> <span><%= link_to 'Destroy', neighborhood, class: "",method: :delete, data: { confirm: 'Are you sure?' } %></span> 
    </li> 
  </ul>
 
<% end %>


<br />

<%= link_to 'New Neighborhood', new_neighborhood_path, class: "button radius medium-5 small-12 medium-push-3 columns success" %>
